
.container{


    background:#fff ;
    z-index: 99999999999;
    position:fixed;
        top:0;
        left:0;
     
        height:100%;
        width:100%;
    display:flex;
        align-items:center;
        justify-content:center;
        object-fit: fill;    
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.2s linear infinite; /* Safari */
  animation: spin 0.2s linear infinite;

}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
